

.basic-grid{
  display: grid;
  gap: 1rem;

  /* implicit grid figures out the right number 
of colums and rows based on content and viewport size */
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
}